{% ckan_extends %}
{% set api_url = 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}

{% block footer_links_ckan %}
    <li><a href="/termeni.html">{{ _('Terms and conditions') }}</a></li>
    <li><a href="/cookie.html">{{ _('Cookies') }}</a></li>
    <li><a href="{{ api_url }}">{{ _('CKAN API') }}</a></li>
    <li><a href="http://www.okfn.org/">{{ _('Open Knowledge Foundation') }} </a></li>
    <li><a href="https://github.com/govro/">{{ _('Open Source on Github') }}</a></li>
    <li><a href="/stats">{{ _('Statistics') }}</a></li>
    <li><a href="/datarequest">{{ _('Data Requests') }}</a></li>
    <li><a href="{{ h.url_for('ga_index') }}">{{ _('Traffic Statistics') }}</a></li>
    <li><a href="https://data.gov.ro/feeds/dataset.atom" target="_blank">Feeds</a></li>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/cookiemonster.js"></script>
    <script src="/cookieconsent.js"></script>
    <script type="text/javascript">
        window.cookieconsent_options = {
            "message": "Test message",
            "dismiss": "Mergi la Chestionar",
            "link": "https://data.gov.ro/cookie.html",
            "theme": "dark-top"
        };
    </script>
{% endblock %}