{% ckan_extends %}
{% set api_url = 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}

{% block footer_links_ckan %}
    <li><a href="/termeni.html">{{ _('Terms and conditions') }}</a></li>
    <li><a href="/cookie.html">{{ _('Cookies') }}</a></li>
    <li><a href="{{ api_url }}">{{ _('CKAN API') }}</a></li>
    <li><a href="http://www.okfn.org/">{{ _('Open Knowledge Foundation') }} </a></li>
    <li><a href="https://github.com/govro/">{{ _('Open Source on Github') }}</a></li>
    <li><a href="/stats">{{ _('Statistics') }}</a></li>
    <li><a href="/datarequest">{{ _('Data Requests') }}</a></li>
    <li><a href="{{ h.url_for('ga_index') }}">{{ _('Traffic Statistics') }}</a></li>
    <li><a href="https://data.gov.ro/feeds/dataset.atom" target="_blank">Feeds</a></li>
    
    <!-- 
        MODAL ON LOAD 
        
        data-autoload="true" 			- load modal on page load
        data-autoload-delay="2000"		- load after 2000 ms (1000ms = 1s)
    -->
    <div id="shopLoadModal" class="modal fade" data-autoload="true" data-autoload-delay="2000">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Autoload Modal</h4>
                </div>

                <!-- body modal -->
                <div class="modal-body clearfix">

                    <p>
                        This is a modal loaded when page load. You can also set a delay - when this modal shows up, after the page is loaded.
                    </p>
                    <p>
                        Please note, an unique ID is required - localStorage is used.<br />
                        localStorage use the ID to hide the modal, if user checked "Don't show this popup again".
                    </p>

                    <!-- Don't show this popup again -->
                    <div class="size-11 text-left">
                        <label class="checkbox pull-left">
                            <input class="loadModalHide" type="checkbox" />
                            <i></i> <span class="weight-300">Don't show this popup again</span>
                        </label>

                    </div>
                    <!-- /Don't show this popup again -->

                </div>

            </div>
        </div>
    </div>
    <!-- /ODAL ON LOAD -->

{% endblock %}