{% ckan_extends %}
{% set api_url = 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}

{% block footer_links_ckan %}
    <li><a href="/termeni.html">{{ _('Terms and conditions') }}</a></li>
    <li><a href="/cookie.html">{{ _('Cookies') }}</a></li>
    <li><a href="{{ api_url }}">{{ _('CKAN API') }}</a></li>
    <li><a href="http://www.okfn.org/">{{ _('Open Knowledge Foundation') }} </a></li>
    <li><a href="https://github.com/govro/">{{ _('Open Source on Github') }}</a></li>
    <li><a href="/stats">{{ _('Statistics') }}</a></li>
    <li><a href="/datarequest">{{ _('Data Requests') }}</a></li>
    <li><a href="{{ h.url_for('ga_index') }}">{{ _('Traffic Statistics') }}</a></li>
    <li><a href="https://data.gov.ro/feeds/dataset.atom" target="_blank">Feeds</a></li>

    <div id="datagovroModal" class="modal fade" data-autoload="true" data-autoload-delay="1000" style="padding-right: 17px;padding-top: 30px;display: block;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Chestionar de satisfacție a utilizării data.gov.ro</h4>
                </div>

                <div class="modal-body clearfix">
                    <p>
                        Vă mulțumim pentru vizita dvs. pe site-ul nostru. În vederea îmbunătățirii acestuia, dorim să aflăm câteva opinii despre site, printr-un chestionar care durează 5-7 minute. Menționăm că răspunsurile dvs. sunt complet anonime și vor fi utilizate doar pentru statistică.
                    </p>

                    <div class="size-11 text-left">
                        <label class="checkbox pull-left">
                            <input class="loadModalHide" type="checkbox" />
                            <i></i> <span class="weight-300">Nu mai arăta acest popup</span>
                        </label>

                    </div>

                    <div class="modal-footer">
                        <a href="https://rqsa.ro/lime/index.php/738468?lang=ro" class="btn btn-primary" data-toggle="tooltip" title="Tooltip" target="_blank">Mergi la Chestionar</a>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- /ODAL ON LOAD -->

{% endblock %}