<div class="alert alert-info margin-bottom-30"><!-- INFO -->
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <a href="https://rqsa.ro/lime/index.php/738468?lang=ro" target="_blank"><strong> Chestionar de satisfacție a utilizării data.gov.ro </strong></a><br>
    Vă mulțumim pentru vizita dvs. pe site-ul nostru. În vederea îmbunătățirii acestuia, dorim să aflăm câteva opinii despre site, printr-un chestionar care durează 5-7 minute. Menționăm că răspunsurile dvs. sunt complet anonime și vor fi utilizate doar pentru statistică.

</div>