<div id="shopLoadModal" class="modal fade" data-autoload="true" data-autoload-delay="1000">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">

						<!-- Modal Header -->
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">Autoload Modal</h4>
						</div>

						<!-- body modal -->
						<div class="modal-body clearfix">

							<p>
								This is a modal loaded when page load. You can also set a delay - when this modal shows up, after the page is loaded.
							</p>
							<p>
								Please note, an unique ID is required - localStorage is used.<br />
								localStorage use the ID to hide the modal, if user checked "Don't show this popup again".
							</p>

							<!-- Don't show this popup again -->
							<div class="size-11 text-left">
								<label class="checkbox pull-left">
									<input class="loadModalHide" type="checkbox" />
									<i></i> <span class="weight-300">Don't show this popup again</span>
								</label>

							</div>
							<!-- /Don't show this popup again -->

						</div>

					</div>
				</div>
			</div>
			<!-- /ODAL ON LOAD -->