            <!-- GROUPS -->
            <section class="alternate padding-xs">
                <div class="container">
                    <header class="text-center margin-bottom-40">
                        <h1 class="weight-300">DATA.GOV.RO</h1>
                        <h2 class="weight-300 letter-spacing-1 size-13"><span>PORTALUL SETURILOR DE DATE DESCHISE</span></h2>
                    </header>

                    <div class="text-center">
                        <p class="lead">
                            Punct central de acces pentru seturile de date deschise livrate de autoritățile și instituțiile administrației publice, ajutând publicul să găsească, să descarce și să folosească informațiile generate și deținute de structurile administrative.
                        </p>

                        <div class="owl-carousel nomargin" data-plugin-options='{"singleItem": false, "autoPlay": true}'>
                        
                            <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
                                <a class="box-icon-title" href="#">
                                    <img src="/assets/images/gov/icons/icon1.png">
                                    <h2>AGRICULTURA</h2>
                                </a>
                            </div>
                            <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
                                <a class="box-icon-title" href="#">
                                    <img src="/assets/images/gov/icons/icon2.png">
                                    <h2>JUSTITIE</h2>
                                </a>
                            </div>
                            <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
                                <a class="box-icon-title" href="#">
                                    <img src="/assets/images/gov/icons/icon3.png">
                                    <h2>EDUCATIE SI CULTURA</h2>
                                </a>
                            </div>
                            <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
                                <a class="box-icon-title" href="#">
                                    <img src="/assets/images/gov/icons/icon4.png">
                                    <h2>ECONOMIE SI FINANTE</h2>
                                </a>
                            </div>
                            <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
                                <a class="box-icon-title" href="#">
                                    <img src="/assets/images/gov/icons/icon5.png">
                                    <h2>MEDIU INCONJURATOR</h2>
                                </a>
                            </div>
                            <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
                                <a class="box-icon-title" href="#">
                                    <img src="/assets/images/gov/icons/icon6.png">
                                    <h2>ENERGIE</h2>
                                </a>
                            </div>
                            <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
                                <a class="box-icon-title" href="#">
                                    <img src="/assets/images/gov/icons/icon7.png">
                                    <h2>ORASE, REGIUNI, ADMINISTRATIE LOCALA</h2>
                                </a>
                            </div>
                            <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
                                <a class="box-icon-title" href="#">
                                    <img src="/assets/images/gov/icons/icon8.png">
                                    <h2>GUVERNARE SI SECTOR PUBLIC</h2>
                                </a>
                            </div>
                            <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
                                <a class="box-icon-title" href="#">
                                    <img src="/assets/images/gov/icons/icon9.png">
                                    <h2>NOMENCLATOARE</h2>
                                </a>
                            </div>
                            <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
                                <a class="box-icon-title" href="#">
                                    <img src="/assets/images/gov/icons/icon10.png">
                                    <h2>RELATII INTERNATIONALE</h2>
                                </a>
                            </div>
                            <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
                                <a class="box-icon-title" href="#">
                                    <img src="/assets/images/gov/icons/icon11.png">
                                    <h2>STIINTA, TEHNOLOGIE SI CERCETARE</h2>
                                </a>
                            </div>
                            <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
                                <a class="box-icon-title" href="#">
                                    <img src="/assets/images/gov/icons/icon12.png">
                                    <h2>POPULATIE SI CONDITIE SOCIALA</h2>
                                </a>
                            </div>
                            <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
                                <a class="box-icon-title" href="#">
                                    <img src="/assets/images/gov/icons/icon13.png">
                                    <h2>TRANSPORT</h2>
                                </a>
                            </div>
                            <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
                                <a class="box-icon-title" href="#">
                                    <img src="/assets/images/gov/icons/icon14.png">
                                    <h2>SANATATE</h2>
                                </a>
                            </div>
                            
                        </div>

                    </div>

                </div>
            </section>
            <!-- /GROUPS -->