
<!-- GROUPS -->
<section class="alternate padding-xs">
    <div class="container">
        <header class="text-center margin-bottom-40">
            <h1 class="weight-300">DATA.GOV.RO</h1>
            <h2 class="weight-300 letter-spacing-1 size-13"><span>{% trans %}OPEN DATASETS PORTAL{% endtrans %}</span>
            </h2>
        </header>

        <div class="text-center">
            <p class="lead size-16">
                {% trans %}Central access point for open data sets delivered by public administration authorities and
                institutions, helping the public to find, download and use the information generated and held by the
                administrative structures.{% endtrans %}
            </p>

            <!-- <div class="owl-carousel nomargin" data-plugin-options='{"singleItem": false, "autoPlay": true}'>

                {% for group in h.datagovro_theme_most_popular_groups() %}
                <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
                    <a class="box-icon-title" href="{{ h.url_for(controller='group', action='read', id=group.name) }}">
                        <img src="/assets/images/gov/icons/{{ group.name }}.png"
                            onmouseover="this.src='/assets/images/gov/icons/{{ group.name }}-o.png'"
                            onmouseout="this.src='/assets/images/gov/icons/{{ group.name }}.png'" />
                        <h2>{{ group.display_name|upper }}</h2>
                    </a>
                </div>
                {% endfor %}

            </div> -->

        </div>

        <ul class="margin-top-80 social-icons list-unstyled list-inline">
            {% for group in h.datagovro_theme_most_popular_groups() %}
            <li>
                <a target="_blank" href="{{ h.url_for(controller='group', action='read', id=group.name) }}">
                    <img src="/assets/images/gov/icons/{{ group.name }}.png"
                        onmouseover="this.src='/assets/images/gov/icons/{{ group.name }}-o.png'"
                        onmouseout="this.src='/assets/images/gov/icons/{{ group.name }}.png'" />
                    <h4>{{ group.display_name|upper }}</h4>
                    <!-- <span>Be Our Friend</span> -->
                </a>
            </li>
            {% endfor %}
        </ul>

    </div>
</section>
<!-- /GROUPS -->


