
<!-- GROUPS -->
<section class="alternate padding-xs">
    <div class="container">
        <header class="text-center margin-bottom-40">
            <h1 class="weight-300">DATA.GOV.RO</h1>
            <h2 class="weight-300 letter-spacing-1 size-13"><span>{% trans %}OPEN DATASETS PORTAL{% endtrans %}</span>
            </h2>
        </header>

        <div class="text-center">
            <p class="lead size-16">
                {% trans %}Central access point for open data sets delivered by public administration authorities and institutions, helping the public to find, download and use the information generated and held by the administrative structures.{% endtrans %}
            </p>
            <!-- <p class="lead size-16">
                Punct central de acces pentru seturile de date deschise livrate de autoritățile și instituțiile administrației publice, ajutând publicul să găsească, să descarce și să folosească informațiile generate și deținute de structurile administrative.
            </p> -->

        </div>

        <!-- <ul class="row clients-dotted list-inline"> -->
        <div class="row">
            {% for group in h.datagovro_theme_most_popular_groups() %}
            <!-- <li class="col-md-3 col-sm-3 col-xs-6">
                <a href="{{ h.url_for(controller='group', action='read', id=group.name) }}" data-toggle="tooltip" data-placement="bottom" title="{{ group.display_name | upper }}">
                    <img src="/assets/images/gov/icons/{{ group.name }}.png"
                        onmouseover="this.src='/assets/images/gov/icons/{{ group.name }}-o.png'"
                        onmouseout="this.src='/assets/images/gov/icons/{{ group.name }}.png'" alt="{{ group.display_name | upper }}" height="50"/>
                    <h5>{{ group.display_name.split(' ', 1)[0].replace(",", "") | upper }}</h5>
                </a>
            </li> -->
            <div class="col-md-2 col-xs-6">
                <div class="text-center">
                    <a href="{{ h.url_for(controller='group', action='read', id=group.name) }}" data-toggle="tooltip"
                        data-placement="bottom" title="{{ group.display_name | upper }}">
                        <img src="/assets/images/gov/icons/{{ group.name }}.png"
                            onmouseover="this.src='/assets/images/gov/icons/{{ group.name }}-o.png'"
                            onmouseout="this.src='/assets/images/gov/icons/{{ group.name }}.png'" alt="{{ group.display_name | upper }}"
                            height="50" />
                    </a>
                    <h4>{{ group.display_name.split(' ', 1)[0].replace(",", "") | upper }}</h4>
                    <!-- <h4>Web Design</h4> -->
                    <!-- <p class="font-lato size-20">Donec id elit non mi porta gravida.</p> -->
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- </ul> -->
        

    </div>
</section>
<!-- /GROUPS -->

<!-- -->
<section class="b-0" style="background-color:#f5f6fa">
    <div class="container">

        <div class="mt-30 mb-100 text-center">
            <h2 class="mb-0 fw-200 fs-40">Core Features</h2>
            <h3 class="font-lato fs-17 d-block text-muted m-0">
                Javascript knowledge is not required to work with Smarty. <br>
                Everything is easy, fast and dynamically loaded in a smart way!
            </h3>

            <!-- customizable color hr -->
            <hr class="hr-color hr-muted w-100">

        </div>



        <div class="clearfix row">

            <div class="col text-center">
                <div class="w-100 clearfix text-center d-inline-block">
                    <div class="mb-15 mr-0 w-80 h-80 d-inline-block bg-white rounded-circle btn-shadow-1 text-center">
                        <i class="et-briefcase fs-30 pt-20 mt-5 text-info"></i>
                    </div>

                    <h5 class="fs-12">Bootstrap 4+</h5>
                </div>
            </div>

            <div class="col text-center">
                <div class="w-100 clearfix text-center d-inline-block">
                    <div class="mb-15 mr-0 w-80 h-80 d-inline-block bg-white rounded-circle btn-shadow-1 text-center">
                        <i class="et-circle-compass fs-30 pt-20 mt-5 text-info"></i>
                    </div>

                    <h5 class="fs-12">jQuery 3+</h5>
                </div>
            </div>

            <div class="col text-center">
                <div class="w-100 clearfix text-center d-inline-block">
                    <div class="mb-15 mr-0 w-80 h-80 d-inline-block bg-white rounded-circle btn-shadow-1 text-center">
                        <i class="et-recycle fs-30 pt-20 mt-5 text-warning"></i>
                    </div>

                    <h5 class="fs-12">Reusable Elements</h5>
                </div>
            </div>

            <div class="col text-center">
                <div class="w-100 clearfix text-center d-inline-block">
                    <div class="mb-15 mr-0 w-80 h-80 d-inline-block bg-white rounded-circle btn-shadow-1 text-center">
                        <i class="et-cloud fs-30 pt-20 mt-5 text-muted"></i>
                    </div>

                    <h5 class="fs-12">Google Fonts</h5>
                </div>
            </div>

            <div class="col text-center">
                <div class="w-100 clearfix text-center d-inline-block">
                    <div class="mb-15 mr-0 w-80 h-80 d-inline-block bg-white rounded-circle btn-shadow-1 text-center">
                        <i class="et-genius fs-30 pt-20 mt-5 text-info"></i>
                    </div>

                    <h5 class="fs-12">Animate CSS</h5>
                </div>
            </div>

            <div class="col text-center">
                <div class="w-100 clearfix text-center d-inline-block">
                    <div class="mb-15 mr-0 w-80 h-80 d-inline-block bg-white rounded-circle btn-shadow-1 text-center">
                        <i class="et-linegraph fs-30 pt-20 mt-5 text-warning"></i>
                    </div>

                    <h5 class="fs-12">Wow Animation</h5>
                </div>
            </div>

            <div class="col text-center">
                <div class="w-100 clearfix text-center d-inline-block">
                    <div class="mb-15 mr-0 w-80 h-80 d-inline-block bg-white rounded-circle btn-shadow-1 text-center">
                        <i class="et-flag fs-30 pt-20 mt-5 text-primary"></i>
                    </div>

                    <h5 class="fs-12">Font Awesome</h5>
                </div>
            </div>

        </div>



        <div class="clearfix row mt-30">

            <div class="col text-center">
                <div class="w-100 clearfix text-center d-inline-block">
                    <div class="mb-15 mr-0 w-80 h-80 d-inline-block bg-white rounded-circle btn-shadow-1 text-center">
                        <i class="et-mobile fs-30 pt-20 mt-5 text-muted"></i>
                    </div>

                    <h5 class="fs-12">ET Line Icon</h5>
                </div>
            </div>

            <div class="col text-center">
                <div class="w-100 clearfix text-center d-inline-block">
                    <div class="mb-15 mr-0 w-80 h-80 d-inline-block bg-white rounded-circle btn-shadow-1 text-center">
                        <i class="et-pictures fs-30 pt-20 mt-5 text-warning"></i>
                    </div>

                    <h5 class="fs-12">Magnific Popup</h5>
                </div>
            </div>

            <div class="col text-center">
                <div class="w-100 clearfix text-center d-inline-block">
                    <div class="mb-15 mr-0 w-80 h-80 d-inline-block bg-white rounded-circle btn-shadow-1 text-center">
                        <i class="et-layers fs-30 pt-20 mt-5 text-danger"></i>
                    </div>

                    <h5 class="fs-12">Parallax</h5>
                </div>
            </div>

            <div class="col text-center">
                <div class="w-100 clearfix text-center d-inline-block">
                    <div class="mb-15 mr-0 w-80 h-80 d-inline-block bg-white rounded-circle btn-shadow-1 text-center">
                        <i class="et-lightbulb fs-30 pt-20 mt-5 text-info"></i>
                    </div>

                    <h5 class="fs-12">Isotope Filtering</h5>
                </div>
            </div>

            <div class="col text-center">
                <div class="w-100 clearfix text-center d-inline-block">
                    <div class="mb-15 mr-0 w-80 h-80 d-inline-block bg-white rounded-circle btn-shadow-1 text-center">
                        <i class="et-envelope fs-30 pt-20 mt-5 text-danger"></i>
                    </div>

                    <h5 class="fs-12">Ajax Contact</h5>
                </div>
            </div>

            <div class="col text-center">
                <div class="w-100 clearfix text-center d-inline-block">
                    <div class="mb-15 mr-0 w-80 h-80 d-inline-block bg-white rounded-circle btn-shadow-1 text-center">
                        <i class="et-happy fs-30 pt-20 mt-5 text-primary"></i>
                    </div>

                    <h5 class="fs-12">W3C Valid</h5>
                </div>
            </div>

            <div class="col text-center">
                <div class="w-100 clearfix text-center d-inline-block">
                    <div class="mb-15 mr-0 w-80 h-80 d-inline-block bg-white rounded-circle btn-shadow-1 text-center">
                        <i class="et-speedometer fs-30 pt-20 mt-5 text-success"></i>
                    </div>

                    <h5 class="fs-12">Speed Optimized</h5>
                </div>
            </div>

        </div>



        <div class="clearfix row mt-30">

            <div class="col text-center hidden-md-down"></div>

            <div class="col text-center">
                <div class="w-100 clearfix text-center d-inline-block">
                    <div class="mb-15 mr-0 w-80 h-80 d-inline-block bg-white rounded-circle btn-shadow-1 text-center">
                        <i class="et-wine fs-30 pt-20 mt-5 text-muted"></i>
                    </div>

                    <h5 class="fs-12">700+ HTML</h5>
                </div>
            </div>


            <div class="col text-center">
                <div class="w-100 clearfix text-center d-inline-block">
                    <div class="mb-15 mr-0 w-80 h-80 d-inline-block bg-white rounded-circle btn-shadow-1 text-center">
                        <i class="et-edit fs-30 pt-20 mt-5 text-muted"></i>
                    </div>

                    <h5 class="fs-12">1000+ Elements</h5>
                </div>
            </div>

            <div class="col text-center">
                <div class="w-100 clearfix text-center d-inline-block">
                    <div class="mb-15 mr-0 w-80 h-80 d-inline-block bg-white rounded-circle btn-shadow-1 text-center">
                        <i class="et-heart fs-30 pt-20 mt-5 text-success"></i>
                    </div>

                    <h5 class="fs-12">Paid Plugins Included</h5>
                </div>
            </div>

            <div class="col text-center">
                <div class="w-100 clearfix text-center d-inline-block">
                    <div class="mb-15 mr-0 w-80 h-80 d-inline-block bg-white rounded-circle btn-shadow-1 text-center">
                        <i class="et-linegraph fs-30 pt-20 mt-5 text-success"></i>
                    </div>

                    <h5 class="fs-12">Free Updates</h5>
                </div>
            </div>

            <div class="col text-center">
                <div class="w-100 clearfix text-center d-inline-block">
                    <div class="mb-15 mr-0 w-80 h-80 d-inline-block bg-white rounded-circle btn-shadow-1 text-center">
                        <i class="et-globe fs-30 pt-20 mt-5 text-muted"></i>
                    </div>

                    <h5 class="fs-12">Free Support</h5>
                </div>
            </div>

            <div class="col text-center hidden-md-down"></div>

        </div>




        <div class="text-center mt-80">

            <a href="https://wrapbootstrap.com/theme/smarty-website-admin-rtl-WB02DSN1B" target="_blank"
                class="btn btn-featured btn-secondary w-250 btn-round btn-inverse text-left">
                <span class="fs-15 fw-200">GET SMARTY NOW</span>
                <i class="et-download fs-25 btn-round"></i>
            </a>

        </div>

    </div>
</section>
<!-- / -->


