{% set stats = h.get_site_statistics() %}
<!-- /INFO BAR -->
<section class="info-bar info-bar-clean">
    <div class="row countTo-sm text-center">

        <div class="col-xs-6 col-sm-5th">
            <span class="countTo" data-speed="3000" style="color:#59BA41">{{ stats.dataset_count }}</span>
            <h4>{{ _('Datasets') }}</h4>
        </div>

        <div class="col-xs-6 col-sm-5th">
            <span class="countTo" data-speed="3000" style="color:#774F38">{{ h.get_number_of_files() }}</span>
            <h4>{{ _('related items') }}</h4>
        </div>

        <div class="col-xs-6 col-sm-5th">
            <span class="countTo" data-speed="3000" style="color:#C02942">{{ h.SI_number_span(stats.organization_count) }}</span>
            <h4>{{ _('Organizations') }}</h4>
        </div>

        <div class="col-xs-6 col-sm-5th">
            <span class="countTo" data-speed="3000" style="color:#C02942">{{ h.SI_number_span(stats.group_count) }}</span>
            <h4>{{ _('Groups') }}</h4>
        </div>

        <div class="col-xs-6 col-sm-5th">
            <span class="countTo" data-speed="3000" style="color:#1693A5">{{ h.get_number_of_external_links() }}</span>
            <h4>{{ _('external links') }}</h4>
        </div>

    </div>
</section>