{% set posts = h.get_recent_blog_posts(number=5) %}

<!-- ARTICLES -->
<section class="padding-xs">
    <div class="container">

        <div class="row">
            {% for post in posts %}
            <div class="col-md-4 col-sm-6">
                <div class="testimonial testimonial-bordered padding-15 text-center">
                    <img src="assets/images/gov/bannersmall1.png" alt="" />
                    <hr />
                    <h5>
                        <a href="{{ h.url_for(controller='ckanext.pages.controller:PagesController', action='blog_show', page='/' + post.name) }}">{{ post.title or post.name }}</a>
                    </h5>
                    <p>{{ h.markdown_extract(post.content) }}</p>
                    {% if post.publish_date %}
                    <small> {{ h.render_datetime(post.publish_date) }} </small>
                    <br>
                    <a class="btn btn-small btn-primary more"
                        href="{{ h.url_for(controller='ckanext.pages.controller:PagesController', action='blog_show', page='/' + post.name) }}">{{ _('More') }}</a>
                    {% endif %}                    
                </div>
            </div>
            {% endfor %}


            <!-- <div class="col-md-4 col-sm-6">
                <div class="testimonial testimonial-bordered padding-15 text-center">
                    <img src="assets/images/gov/bannersmall1.png" alt="" />
                    <hr />
                    <h5><a href="http://ogp.gov.ro/noutati/metodologie-de-publicare-a-datelor-deschise-consultare-publica/">Metodologie
                            de
                            publicare a datelor deschise – consultare publică</a>
                    </h5>
                    <p>În anul 2016, Secretariatul General al Guvernului a demarat proiectul Creșterea calității și a
                        numărului de seturi de
                        date deschise publicate de instituțiile publice – cod SIPOCA 36, cofinanțat din Fondul Social
                        European pentru perioada
                        2014-2020. Scopul acestui proiect reprezintă promovarea și creșterea transparenţei în
                        administrație şi a gradului de
                        comunicare cu cetăţenii prin îmbunătățirea […]</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="testimonial testimonial-bordered padding-15 text-center">
                    <img src="assets/images/gov/bannersmall2.png" alt="" />
                    <hr />
                    <h5><a href="http://ogp.gov.ro/date-deschise/sesiuni-de-instruire-date-deschise/">Sesiuni de
                            instruire date deschise</a>
                    </h5>
                    <p>În anul 2016, Secretariatul General al Guvernului a demarat proiectul Creșterea calității și a
                        numărului de seturi de
                        date deschise publicate de instituțiile publice – cod SIPOCA 36, cofinanțat din Fondul Social
                        European pentru perioada
                        2014-2020. Scopul acestui proiect reprezintă promovarea și creșterea transparenţei în
                        administrație şi a gradului de
                        comunicare cu cetăţenii prin îmbunătățirea […]</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="testimonial testimonial-bordered padding-15 text-center">
                    <img src="assets/images/gov/bannersmall3.png" alt="" />
                    <hr />
                    <h5><a
                            href="http://ogp.gov.ro/date-deschise/dezbatere-publica-privind-datele-deschise-11-iunie-2018/">Dezbatere
                            publică
                            privind datele deschise – 11 iunie 2018</a>
                    </h5>
                    <p>În cadrul proiectului Creșterea calității și a numărului de seturi de date deschise publicate de
                        instituțiile publice –
                        cod SIPOCA 36, cofinanțat din Fondul Social European pentru perioada 2014-2020, Secretariatul
                        General al Guvernului vă
                        invită la o dezbatere privind cadrul de reglementare pentru publicarea datelor deschise și
                        oportunitatea unei politici
                        publice în domeniu. Evenimentul va […]</p>
                </div>
            </div> -->

            <!-- <div class="col-md-4 col-sm-6">
			                <div class="testimonial testimonial-bordered padding-15 text-center">
			                    <img src="assets/images/gov/bannersmall3.png" alt="" />
			                    <hr />
			                    <h5><a href="http://ogp.gov.ro/noutati/propuneri-pna-2018-2020-primite-pana-la-data-de-15-mai-2018/">Propuneri PNA
			                            2018-2020 primite până la data de 15 mai 2018</a>
			                    </h5>
			                    <p>Au fost publicate propunerile de angajamente pentru noul Plan de Acțiune 2018-2020 primite din partea societății civile
			                    în cadrul primei etape a procesului de consultare publică (14 martie – 15 mai). În etapa următoare, propunerile vor fi
			                    analizate de către instituțiile vizate ca responsabile pentru implementare. Propuneri PNA 2020_Centrul pentru Inovare
			                    Publica Propuneri PNA 2020_Expert […]
			                    </p>
			                </div>
			            </div>

			            <div class="col-md-4 col-sm-6">
			                <div class="testimonial testimonial-bordered padding-15 text-center">
			                    <img src="assets/images/gov/bannersmall1.png" alt="" />
			                    <hr />
			                    <h5><a href="http://ogp.gov.ro/date-deschise/date-deschise-privind-platitorii-de-impozite-si-taxe-inregistrati/">Date
			                        deschise privind plătitorii de impozite și taxe înregistrați</a>
			                    </h5>
			                    <p>În data de 7 mai 2018, Ministerul Finanțelor Publice a supus consultării publice proiectul de ordin privind publicarea
			                    pe portalul data.gov.ro a seturilor de date deschise privind plătitorii de impozite și taxe înregistrați (operatori
			                    economici și instituții publice). MFP a inițiat un proiect de ordin care modifică și completează Ordinul ministrului
			                    finanțelor nr. 1.485/1999 pentru […]</p>
			                </div>
			            </div> -->
        </div>

    </div>
</section>

<!-- RECENT NEWS -->
<section>
    <div class="container">

        <header class="text-center margin-bottom-60">
            <h1 class="weight-300">Recent News</h1>
            <h2 class="weight-300 letter-spacing-1 size-13"><span>WE TRULY CARE ABOUT OUR CUSTOMERS</span></h2>
        </header>

        <!-- 
						controlls-over		= navigation buttons over the image 
						buttons-autohide 	= navigation buttons visible on mouse hover only
						
						data-plugin-options:
							"singleItem": true
							"autoPlay": true (or ms. eg: 4000)
							"navigation": true
							"pagination": true
							"items": "4"

						owl-carousel item paddings
							.owl-padding-0
							.owl-padding-3
							.owl-padding-6
							.owl-padding-10
							.owl-padding-15
							.owl-padding-20
					-->
        <div class="owl-carousel owl-padding-10">
            <div class="img-hover">
                <a href="blog-single-default.html">
                    <img class="img-responsive" src="assets/images/demo/451x300/17-min.jpg" alt="">
                </a>

                <h4 class="text-left margin-top-20"><a href="blog-single-default.html">Lorem Ipsum Dolor</a></h4>
                <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores
                    quod est tenetur in.</p>
                <ul class="text-left size-12 list-inline list-separator">
                    <li>
                        <i class="fa fa-calendar"></i>
                        29th Jan 2015
                    </li>
                    <li>
                        <a href="blog-single-default.html#comments">
                            <i class="fa fa-comments"></i>
                            3
                        </a>
                    </li>
                </ul>
            </div>
            <div class="img-hover">
                <a href="blog-single-default.html">
                    <img class="img-responsive" src="assets/images/demo/451x300/30-min.jpg" alt="">
                </a>

                <h4 class="text-left margin-top-20"><a href="blog-single-default.html">Lorem Ipsum Dolor</a></h4>
                <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores
                    quod est tenetur in.</p>
                <ul class="text-left size-12 list-inline list-separator">
                    <li>
                        <i class="fa fa-calendar"></i>
                        29th Jan 2015
                    </li>
                    <li>
                        <a href="blog-single-default.html#comments">
                            <i class="fa fa-comments"></i>
                            3
                        </a>
                    </li>
                </ul>
            </div>
            <div class="img-hover">
                <a href="blog-single-default.html">
                    <img class="img-responsive" src="assets/images/demo/451x300/26-min.jpg" alt="">
                </a>

                <h4 class="text-left margin-top-20"><a href="blog-single-default.html">Lorem Ipsum Dolor</a></h4>
                <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores
                    quod est tenetur in.</p>
                <ul class="text-left size-12 list-inline list-separator">
                    <li>
                        <i class="fa fa-calendar"></i>
                        29th Jan 2015
                    </li>
                    <li>
                        <a href="blog-single-default.html#comments">
                            <i class="fa fa-comments"></i>
                            3
                        </a>
                    </li>
                </ul>
            </div>
            <div class="img-hover">
                <a href="blog-single-default.html">
                    <img class="img-responsive" src="assets/images/demo/451x300/18-min.jpg" alt="">
                </a>
                <h4 class="text-left margin-top-20"><a href="blog-single-default.html">Lorem Ipsum Dolor</a></h4>
                <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores
                    quod est tenetur in.</p>
                <ul class="text-left size-12 list-inline list-separator">
                    <li>
                        <i class="fa fa-calendar"></i>
                        29th Jan 2015
                    </li>
                    <li>
                        <a href="blog-single-default.html#comments">
                            <i class="fa fa-comments"></i>
                            3
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>
<!-- /RECENT NEWS -->


<!-- /ARTICLES -->