{% set posts = h.get_recent_blog_posts(number=5) %}

<!-- ARTICLES -->
<section class="padding-xs">
    <div class="container">

        <div class="row">
            {% for post in posts %}
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail img-hover">
                    <img class="img-responsive" src="assets/images/gov/bannersmall1.png" alt="" />                    
                    <h4 class="text-left margin-top-20"><a href="blog-single-default.html">Lorem Ipsum Dolor</a></h4>
                    <p class="text-left">{{ h.markdown_extract(post.content) }}</p>
                    {% if post.publish_date %}
                    <ul class="text-left size-12 list-inline list-separator">
                        <li>
                            <i class="fa fa-calendar"></i>
                            {{ h.render_datetime(post.publish_date) }}
                        </li>
                        <li>
                            <a href="blog-single-default.html#comments">
                                <i class="fa fa-comments"></i>
                                3
                            </a>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section>

<!-- Team -->
<section id="team">
    <div class="container">

        <header class="text-center margin-bottom-60 clearfix">
            <h2 class="weight-300 nomargin-bottom">Meet Our Specialists</h2>
        </header>

        <div class="row">
            {% for post in posts %}
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail img-hover">
                    <img class="img-responsive" src="assets/images/demo/thematics/medical/t1-min.jpg" alt="" />
                    <div class="caption">
                        <h4 class="nomargin">John Doe</h4>
                        <small class="margin-bottom-20 block">Web Developer</small>

                        <p>Donec id elit non mi porta gravida at eget metus id dolor.</p>
                        <a href="#" class="btn btn-default btn-sm">READ MORE</a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

    </div>
</section>
<!-- /Team -->

<!-- RECENT NEWS -->
<section>
    <div class="container">

        <header class="text-center margin-bottom-60">
            <h1 class="weight-300">Recent News</h1>
            <h2 class="weight-300 letter-spacing-1 size-13"><span>WE TRULY CARE ABOUT OUR CUSTOMERS</span></h2>
        </header>
        <div class="owl-carousel owl-padding-10">            
            <div class="img-hover">
                <a href="blog-single-default.html">
                    <img class="img-responsive" src="assets/images/demo/451x300/18-min.jpg" alt="">
                </a>
                <h4 class="text-left margin-top-20"><a href="blog-single-default.html">Lorem Ipsum Dolor</a></h4>
                <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores
                    quod est tenetur in.</p>
                <ul class="text-left size-12 list-inline list-separator">
                    <li>
                        <i class="fa fa-calendar"></i>
                        29th Jan 2015
                    </li>
                    <li>
                        <a href="blog-single-default.html#comments">
                            <i class="fa fa-comments"></i>
                            3
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>
<!-- /RECENT NEWS -->


<!-- /ARTICLES -->