{#

Renders links to the site's resouces.

#}
<section class="padding-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="price-clean">
                    <h4><i class="fa fa-info"></i> INFO</h4>
                    <hr />
                    <p>Link-uri, Documentații, Video</p>
                    <hr />
                    <a href="/pages/resources" class="btn btn-3d btn-default">Mai Mult</a>
                </div>
            </div>

            <div class="col-md-3 col-sm-3">
                <div class="price-clean price-clean-popular">
                    <div class="ribbon">
                        <div class="ribbon-inner">NOU</div>
                    </div>
                    <h4><i class="ico-category et-heart"></i> Programatori</h4>
                    <hr />
                    <p>API-uri, Exemple de Cod</p>
                    <hr />
                    <a href="/pages/developers" class="btn btn-3d btn-default">Mai Mult</a>
                </div>
            </div>

            <div class="col-md-3 col-sm-3">
                <div class="price-clean price-clean-popular">
                    <div class="ribbon">
                        <div class="ribbon-inner">NOU</div>
                    </div>
                    <h4><i class="ico-category et-beaker"></i> REUTILIZARE</h4>
                    <hr />
                    <p>Reutilizare date publicate</p>
                    <hr />
                    <a href="/pages/reutilizare" class="btn btn-3d btn-default">Mai Mult</a>
                </div>
            </div>

            <div class="col-md-3 col-sm-3">
                <div class="price-clean">
                    <h4><i class="fa fa-trophy"></i> LICENȚĂ</h4>
                    <hr />
                    <p>Informații despre Licență</p>
                    <hr />
                    <a href="/pages/licence" class="btn btn-3d btn-default">Mai Mult</a>
                    <!-- <a href="/base/images/logoinst/OGL-ROU-1.0.pdf" target="_blank" class="btn btn-3d btn-default">Mai Mult</a> -->
                </div>
            </div>
        </div>
    </div>
</section>
