{#

Renders links to the site's resouces.

#}
<section class="alternate">
    <div class="container">

        <header class="text-center margin-bottom-60">
            <h2>RESURSE</h2>
            <!-- <p class="lead font-lato">Lorem ipsum dolor sit amet adipiscium elit</p> -->
            <hr />
        </header>

        <div class="row">

            <div class="col-md-3 col-sm-3">

                <div class="price-clean">
                    <h4> RESURSE </h4>
                    <hr />
                    <p>For individuals looking for something simple to get started.</p>
                    <hr />
                    <a href="#" class="btn btn-3d btn-default">Learn More</a>
                </div>

            </div>

            <div class="col-md-3 col-sm-3">

                <div class="price-clean price-clean-popular">
                    <div class="ribbon">
                        <div class="ribbon-inner">NEW</div>
                    </div>
                    <h4> API </h4>
                    <hr />
                    <p>For individuals looking for something simple to get started.</p>
                    <hr />
                    <a href="#" class="btn btn-3d btn-default">Learn More</a>
                </div>

            </div>

            <div class="col-md-3 col-sm-3">

                <div class="price-clean price-clean-popular">
                    <div class="ribbon">
                        <div class="ribbon-inner">NEW</div>
                    </div>
                    <h4> TOOLS </h4>
                    <hr />
                    <p>For individuals looking for something simple to get started.</p>
                    <hr />
                    <a href="#" class="btn btn-3d btn-default">Learn More</a>
                </div>

            </div>

            <div class="col-md-3 col-sm-3">

                <div class="price-clean">
                    <h4>
                        LICENSE
                    </h4>
                    <!-- <h5> LICENSE </h5> -->
                    <hr />
                    <p>For individuals looking for something simple to get started.</p>
                    <hr />
                    <a href="#" class="btn btn-3d btn-default">Learn More</a>
                </div>

            </div>

        </div>

    </div>
</section>
