{% ckan_extends %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="/assets/css/romania_theme.css" />

    <!-- REVOLUTION SLIDER -->
    <link href="/assets/plugins/slider.revolution/css/extralayers.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/slider.revolution/css/settings.css" rel="stylesheet" type="text/css" />
    
    <!-- THEME CSS -->
    <link href="/assets/css/essentials.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/layout.css" rel="stylesheet" type="text/css" />
    
    <!-- PAGE LEVEL SCRIPTS -->
    <link href="/assets/css/header-1.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/color_scheme/darkblue.css" rel="stylesheet" type="text/css" id="color_scheme" />
<!--  
  <div id="id01" class="modal">
    <div class="modal-content animate">
      <div class="imgcontainer">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
        <h3>Va rog, daca aveti timp la dispozitie, sa completati acest survey, pentru a ajuta la imbunatatirea platformei</h3>
        <a id="surveybtn" href="https://goo.gl/forms/YJANPr130hdmtakA2" target="_blank">Mergeti la survey</a>
      </div>
    </div>
  </div>
//-->
{% endblock %}
